@charset "UTF-8";
* { margin: 0; padding: 0;}
body {display: felx;}
li { list-style-type: none;}
a { text-decoration: none;}
img { border: 0;}

#guide{
	display:table;
	table-layout: fixed;
	width: 1100px;
	margin: 0 auto;
	padding: 50px 0 100px;	
}
#aside {
	display: table-cell;
	width: 215px;
	vertical-align: top;
}
#aside .as_inner {
    width: 185px;
    background: #ffffff;
}

#aside .as_inner .as_hgroup { /* 커뮤니티 큰 글씨*/
    width: 185px;
    height: 105px;
    background-color: #ffd642; /* 색깔변경하기*/
    line-height: 105px;
    text-align:center;
}
#aside .as_inner .as_hgroup > a {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
}

#aside .as_inner .lnb > ul > li > a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 15px 15px 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #444444;
}
#contnets {
    display: table-cell;
    width: auto;
}
#boardlist {
    margin: 0 0 20px;
    padding: 30px 30px 60px;
    background-color: #ffffff;
}
.h3group{
	overflow: hidden;
    margin: -30px -30px 0;
    padding: 30px;
    border-bottom: 1px solid #e6e6e8;
 	 background-color: #ffffff;
}
.h3group .tit {
	 background-color: #ffffff;
	 font-size: 23px;
}
.h3group .location {
	float: right;
	background-color: #ffffff;
}
.h3group .location .depth {
    display: block;
    float: left;
    position: relative;
    margin: 0 25px 0 0;
    font-size: 14px;
    line-height: 44px;
    color: #777777;
    background-color: #ffffff;
}
.h3group .location .this {
    display: block;
    float: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    color: #2d2d2d;
    background-color: #ffffff;
}
.h3group .location .depth:after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    width: 6px;
    height: 9px;
    margin: -4px 0 0;
    background: url(ima/chevron.png) 0 0 no-repeat;
}
.h4group {
	 overflow: hidden;
    margin: -30px -30px 0;
    padding: 21px 30px 18px;
    border-bottom: 1px solid #e6e6e8;
    background-color: #ffffff;
}
.h4group .tit {
    float: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #2d2d2d;
    background-color: #ffffff;
}

.conwrap {
    margin: 0 0 20px;
    padding: 30px 30px 60px;
    background: #ffffff;
}
.viewbody {
	padding: 53px 0 0;
}
.viewbody .hgroup .tit {
    margin: 0 0 18px;
    font-weight: 700;
    font-size: 42px;
    line-height: 56px;
    color: #2d2723;
    word-break: break-all;
	text-align: center;
}
.viewbody .hgroup .util {
    display: inline-block;
}
.viewbody .hgroup .util div {
    float: left;
    position: relative;
    margin: 0 0 0 28px;
    font-size: 16px;
    color: #777777;
}
.viewbody .hgroup .util div:first-child {
    margin: 0;
}
.viewbodt .content {
	font-size: 16px;
	line-height: 26px;
	color: #666;
	text-align: center;
}
/* 수정 ,삭제,목록 버튼*/
.btn_wrap {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 240px
}
.btn1 {border-radius: 2px;}
.btn2 {border-radius: 4px;}
.btn3 {border-radius: 8px;}

/* 댓글 부분*/
.cmt_area {
	padding: 18px 20px 15px;
	position: relative;
	border: 1px solid #e6e6e8;
}
.comment {
	position: relative;
    padding: 0 0 10px 0;
    display: inline-block;
}

.comment_box .material-icons {
	width: 20px;
	height: 20px;
    display: inline-block;
}
.comment_box .comment_writer {
	margin-bottom: 4px;
	display: inline-block;
}
.comment_box .text_comment {
line-height: 17px;
    word-break: break-all;
    word-wrap: break-word;
    vertical-align: top;
}
.comment_box .comment_info_box {
	margin-top: 7px;
    font-size: 12px;
    color: var(--skinText979797);
}
.comment_box .comment_info_box .createDate {
	    margin-right: 8px;
	      display: inline-block;
}
.infobtn {
	border: 1px solid black;
  background-color: white;
  color: black;
  padding: 5px;
  font-size: 11px;
  cursor: pointer;
  display: inline-block;
}
.delete {
	border-color: #e7e7e7;
  color: black;
}
.report  {
	border-color: #e7e7e7;
  color: black;
}
.recomt {
border-color: #e7e7e7;
  color: black;
}