@charset "UTF-8";
#guide{
	display:table;
	table-layout: fixed;
	width: 1100px;
	margin: 0 auto;
	padding: 50px 0 100px;	
}
#aside {
	display: table-cell;
	width: 215px;
}
#contnets {
    display: table-cell;
    width: auto;
}
#boardlist {
    margin: 0 0 20px;
    padding: 30px 30px 60px;
    background-color: #ffffff;
}
.h3group{
	overflow: hidden;
    margin: -30px -30px 0;
    padding: 30px;
    border-bottom: 1px solid #e6e6e8;
 	 background-color: #ffffff;
}
.h3group .tit {
	 background-color: #ffffff;
	 font-size: 23px;
}
.h3group .location {
	float: right;
	background-color: #ffffff;
}
.h3group .location .depth {
    display: block;
    float: left;
    position: relative;
    margin: 0 25px 0 0;
    font-size: 14px;
    line-height: 44px;
    color: #777777;
    background-color: #ffffff;
}
.h3group .location .this {
    display: block;
    float: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    color: #2d2d2d;
    background-color: #ffffff;
}
.h3group .location .depth:after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    width: 6px;
    height: 9px;
    margin: -4px 0 0;
    background: url(ima/chevron.png) 0 0 no-repeat;
}
.h4group {
	 overflow: hidden;
    margin: -30px -30px 0;
    padding: 21px 30px 18px;
    border-bottom: 1px solid #e6e6e8;
    background-color: #ffffff;
}
.h4group .tit {
    float: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #2d2d2d;
    background-color: #ffffff;
}

.conwrap {
    padding: 30px 30px 60px;
   	overflow: hidden;
    margin: -30px -30px 0;
 	 background-color: #ffffff;
}
.viewbody {
	padding: 53px 0 0;
}
.viewbody .hgroup .tit {
    margin: 0 0 18px;
    font-weight: 700;
    font-size: 42px;
    line-height: 56px;
    color: #2d2723;
    word-break: break-all;
	text-align: center;
}
.viewbody .hgroup .util {
    display: inline-block;
}
.viewbody .hgroup .util div {
    float: left;
    position: relative;
    margin: 0 0 0 28px;
    font-size: 16px;
    color: #777777;
}
.viewbody .hgroup .util div:first-child {
    margin: 0;
}
.viewbodt .content {
	font-size: 16px;
	line-height: 26px;
	color: #666;
	text-align: center;
}
/* 수정 ,삭제,목록 버튼*/
.btn_wrap {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 240px
}
.btn1 {border-radius: 2px;}
.btn2 {border-radius: 4px;}
.btn3 {border-radius: 8px;}