@charset "UTF-8";
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
li { list-style-type: none;}
a { text-decoration: none;}
img { border: 0;}
table {  border-collapse: collapse;}


#guide{
	display:table;
	table-layout: fixed;
	width: 1100px;
	margin: 0 auto;
	padding: 50px 0 100px;	
}
#aside { /* 커뮤니티 게시판 카테고리 부분*/
	display: table-cell;
	width: 215px;
}
#aside .as_inner {
    width: 185px;
    background: #ffffff;
}

#aside .as_inner .as_hgroup { /* 커뮤니티 큰 글씨*/
    width: 185px;
    height: 105px;
    background-color: blue; /* 색깔변경하기*/
    line-height: 105px;
    text-align:center;
}
#aside .as_inner .as_hgroup > a {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
}

#aside .as_inner .lnb > ul > li > a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 15px 15px 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #444444;
}
#contnets {
    display: table-cell;
    width: auto;
}
#boardlist {
    margin: 0 0 20px;
    padding: 30px 30px 60px;
    background-color: #ffffff;
}
.h3group{
	overflow: hidden;
    margin: -30px -30px 0;
    padding: 30px;
    border-bottom: 1px solid #e6e6e8;
}
.h3group .tit {
	  float: left;
    font-family: 'NanumSquare';
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #2d2d2d;;
}
.h3group .location {
	float: right;
	background-color: #ffffff;
}
.h3group .location .depth {
    display: block;
    float: left;
    position: relative;
    margin: 0 25px 0 0;
    font-size: 14px;
    line-height: 44px;
    color: #777777;
    background-color: #ffffff;
}
.h3group .location .this {
    display: block;
    float: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    color: #2d2d2d;
    background-color: #ffffff;
}
.h3group .location .depth:after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    width: 6px;
    height: 9px;
    margin: -4px 0 0;
    background: url(ima/chevron.png) 0 0 no-repeat;
}
.h4group {
	 overflow: hidden;
    margin: -30px -30px 0;
    padding: 21px 30px 18px;
    border-bottom: 1px solid #e6e6e8;
    background-color: #ffffff;
}
.h4group .tit {
    float: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #2d2d2d;
    background-color: #ffffff;
}

.conwrap {
    padding: 30px 30px 60px;
   	overflow: hidden;
    margin: -30px -30px 0;
 	 background-color: #ffffff;
}
.pb30 {
	padding-bottom: 30px !important
}

/* 글 리스트 번호*/
.tbl_list table tbody tr td {
    padding: 27px 0 26px;
    border-bottom: 1px solid #e6e6e8;
    vertical-align: top;
}
.tbl_list table tr td.idx {
    font-size: 12px;
    line-height: 24px;
    color: #777777;
}
.tbl_list table tbody tr td.obj .tbox .tit a {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #2d2d2d;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
/* 댓글수 조회수 */
.tbl_list table tr util_hit {
    float: left;
    position: relative;
    margin: 0 0 0 21px;
    font-size: 12px;
    line-height: 20px;
    color: #777777;
}

/* 글쓰기 */
.btn_wrap a:first-child {
	margin: 0;
}
.btn50.c3 {
    border: 1px solid #fd5064;
    background: #fd5064;
    color: #ffffff;
}
.btn_wrap a {
    float: left;
}
a:link {
	text-decoration: none;
}
.btn50 {
    display: inline-block;
    box-sizing: border-box;
    height: 50px;
    border: none;
    border-radius: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}