@charset "UTF-8";
*{
    margin: 0; padding: 0;
    background-color: #f8f3fd;
    box-sizing: border-box;
}
header{
    position: relative;
}
.nav{
    width: 1920; height: 25px; 
    
    /* background-color: aqua; */
}
.nav a{text-decoration: none;color: black;}
.navlogin{
    top:5px;
    left: 90%;
    position: absolute;
    font-size: medium;
}
.navcategory{
    text-align: center;
    /* left: 50%;
    transform: translateX(-50%);
    position: absolute; */
    font-size: 25px;
}
.logo{
    /* background-color: antiquewhite; */
    width: 1920px; height: 200px;
    position: relative;
}
.logo img{
    width: 300px;
    position: absolute;
    left: 960px; 
    top: 100px;
    transform: translateX(-50%)translateY(-50%);          
}
#hrdash{
    border: 1px dashed grey;
}
#hrsolid{
    border: 1px solid grey;
}
.total {
    font-family: ImcreSoojin;
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    /* background-color: darksalmon; */
}

/* footer */
.footer{ text-align: center;}
.footer #f_s{color: rgb(196, 196, 196);}
.footer #f_b{color: rgb(119, 116, 141);}

.footer a{
    text-decoration: none;
    color: black;
}