@charset "UTF-8";

.secfirst{
	display: flex;
	justify-content: flex-end;
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 30px;
}

.secsecond{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	margin: 0 auto;
	max-width: 1330px;
}

.form_usedinfo{
	width: 205px;
	height: 224px;
	margin: 30px;
}

.div_usedinfo{
	width: 205px;
	height: 154px;
	text-align:center;
    display:table;
}

.div_usedimg{
	display:table-cell;
    vertical-align:middle;
    width: 205px;
    height: 154px;
}

.div_usedimg img{
	max-width: 100%;
	max-height: 100%;
}

.div_img_text{
	width: 205px;
	height: 45px;
	text-align:justify;
	overflow: hidden;
	word-break: break-all; 
}

.div_img_text a{
	width: 205px;
	height: 45px;
	display: block;
	text-overflow: ellipsis;
}

.secthird{
	display: flex;
	justify-content: flex-end;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 50px;
}

.secfourth{
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.div_paging {
	display: flex;
	padding-bottom: 20px;
}

.previous {
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 5px 13px;
}

.current {
	color: black;
	text-decoration: none;
	padding: 5px 13px;
}

.current:hover {
	background-color: #ddd;
}

.next {
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 5px 13px;
}

@media (max-width:767px) {
    .secfirst {
        justify-content: center;
    }
    
    .secsecond{
    justify-content: center;
		width: 100%;    
    }
    
    .secthird{
    	justify-content: center;
    	padding-right: 0px;
    }
}

