@charset "UTF-8";

.secfirst{
	display: flex;
	justify-content: flex-end;
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 30px;
}

.secsecond{
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            max-width: 1175px;
        }
        
.div_product {
            width: 232px;
            height: 313px;
            border: 1px solid rgba(138, 138, 138, 0.993);
            margin-left: -1px;
            margin-top: -1px;
        }

.div_img {
            width: 200px;
            height: 200px;
            margin: 15px;
        }

.div_img img {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }

.div_img_text {
            width: 100%;
            height: 80px;
            overflow: hidden;
            margin-top: 1px;
        }

.p_img_text {
            padding: 0px;
            margin: 0px;
            text-align: left;
            white-space: normal;
            line-height: 1.2em;
            padding-left: 14.5px;
            padding-right: 11px;
        }

.secthird{
	display: flex;
	justify-content: flex-end;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 50px;
}

.secfourth{
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.div_paging {
	padding-bottom: 20px;
}

.pageprevious {
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 5px 13px;
}

.pagecurrent {
	color: black;
	text-decoration: none;
	padding: 5px 13px;
}

.pagecurrent:hover {
	background-color: #ddd;
}

.pagenext {
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 5px 13px;
}

@media (max-width:767px) {
    .secfirst {
        justify-content: center;
    }
    
    .secsecond{
    justify-content: center;
		width: 100%;    
    }
    
    .secthird{
    	justify-content: center;
    	padding-right: 0px;
    }
}

