@charset "UTF-8";


.article_create{
	margin: auto;
	display: flex;
	justify-content: center;
}

.form_create{
	padding: 50px 20px 50px 20px;
	background-color: white;
}

.div_thumbnail{
	width: 550px;
	height: 500px;
	text-align:center;
    display:table;
    margin:auto;
}

#thumbnail{
	display:table-cell;
    vertical-align:middle;
    width: 550px;
	height: 500px;
}

#thumbnail img{
	width: 550px;
	height: 500px;
	object-fit: scale-down;
}

.div_img_file{
	margin-top: 20px;
	margin-left: 50px;
	text-align: center;
}

.div_table{
	padding-top: 50px;
}


.table_tb{
	margin-left: auto; margin-right: auto;
}

label{
	font-family: 'Noto Sans KR';
}

input{
	font-family: 'Noto Sans KR light';
}

select{
	font-family: 'Noto Sans KR light';
}

select option{
	font-family: 'Noto Sans KR light';
}

#info{
	width:550px; 
	height:200px; 
    resize:none;
}

.div_info{
	padding-top: 60px;
}

#info_count{
	font-size: 10px;
	color: gray;
	text-align: right;
}

.label_down{
	display: block;
	margin-bottom: 6px;
}

.div_keyword{
	padding-top: 60px;
}

.input_keyword{
	text-align: center;
	border:none;
	width: 500px;
	height: 50px;
	font-size: 25px;
	font-family: 'Gugi';
  	background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
  	background-clip: text;
	-webkit-background-clip: text;
  	color: transparent;
}

.div_search{
	padding-top: 60px;
}

.div_button{
	padding-top: 80px;
}

.btn_button{
	position: relative;
	left: 91.5%;
}