@charset "UTF-8";

@font-face {
	font-family: 'Gugi';
	src:url('./Gugi-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
    margin: 0px;
    background-color: rgba(237, 237, 238, 0.89);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    box-sizing:border-box;
}

a {
    text-decoration: none;
    color: black;
}

.header_logo {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.div_logo {
    display: flex;
    align-items: center;
    width: 300px;
    height: 200px;
}

.div_logo img {
    width: 100%;
    left: 100%;
}

.header_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.div_menu {
    display: flex;
}

.div_menu a {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 13px;
    padding-right: 13px;
	font-family: 'Gugi';
    font-size: 20px;
}

.div_menu a:hover {
    background-color: #ddd;
}

.div_toggle{
    display: none;
    position: absolute;
    right: 15px;
    top: 5px;
}

.member_toggleBtn {
    color: blue;
}

.menu_toggleBtn{
    color: rgb(255, 255, 0);
    padding-right: 7px;
}

hr{
    margin: 0px;
}
/* carousel Start */
section {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-align : center;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* carousel End */

.notice-div{
    margin : auto;
}
.notice-table {
    width : 550px;
    margin: auto;
    margin-bottom : 300px;
}

.table {
	border-collapse: collapse;
	margin: 25px 0;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed; 
}

.table thead tr {
	background-color: #FFE699;
	color: black;
	border-bottom: 1px solid grey;
}

.table th, table td {
	padding: 10px 13px;
}

.table tbody tr {
	border-bottom: 1px solid #d3d1c4;
}

.table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
	border-bottom: 2px solid #999879;
}


@media (max-width:767px) {
    .div_menu {
        flex-direction: column;
    }

    .div_toggle {
        display: block;
    }
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.ul_footer {
    display: flex;
    list-style: none;
    padding: 0px;
    font-size: 10px;
}

.ul_footer li {
    padding: 5px 10px;
}

@media (max-width:767px) {
    .ul_footer {
        display: none;
    }
}
