@charset "UTF-8";

@font-face {
	font-family: 'ImcreSoojin';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'ImcreSoojin';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#signtext {
	height: 120px;
	width: 970px;
	margin: 60px auto 0 auto;
}

#signtext h1{
	text-align: center;
	margin: 60px;
}

#signtext h2,#signtext h4{
	display: inline;
	margin: 5px 10px;
}



table {
	border-collapse: collapse;
	height: 500px;
	width: 970px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	letter-spacing: 2px;
}

tr {
	border-bottom: 1px dotted black;
}

caption .signtext h1 {
	padding:100px 0 25px;
}

caption .signtext h2, caption .signtext h4 {
	line-height: 30px;
	
	float: left;
	padding: 0 10px;
	margin: 100px 0;
}

.col1 {
	background-color: #e2e2e2;
	padding: 10px;
	width: 150px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

.col2 {
	margin: auto;
	width: 470px;
	text-align: left;
	padding: 15px 25px;
}

.col2 span, .col2 div {
	font-size: 13px;
	margin-top: 10px;
	padding-left: 10px;
}

.col3 {
	width: 330px;
	text-align: left;
	padding: 15px 20px;
}

.CheckBtn {
	font-family: ImcreSoojin;
	height: 40px;
	width: auto;
	margin: 0 15px;
	padding: 10px 15px;
	color: black;
	border: 3px solid #2196F3;
	border-radius: 0.25rem;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 13px;
}

.CheckBtn:hover {
	background-color: #c2e2fc;
}

input[type=file] {
	font-family: ImcreSoojin;
	font-size: 13px;
	letter-spacing: 1px;
}

input[type=text], [type=number], [type=password] {
	font-family: ImcreSoojin;
	padding: 20px;
	background-color: white;
	width: 300px;
	height: 45px;
	font-size: 14px;
	border-radius: 6px;
	letter-spacing: 1px;
	border: 2px #2196F3 solid;
}

input:focus {
	outline: 2px solid #0c75cb;
}

div.create {
	width: 800px;
	text-align: center;
	padding: 30px 0 50px;
	margin: auto;
}

.create .signupBtn, .create .cancelBtn {
	font-family: ImcreSoojin;
	height: 50px;
	width: auto;
	margin: 0 5px;
	padding: 0 20px;
	color: black;
	border: 4px solid #2196F3;
	border-radius: 0.25rem;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 15px;
}

.create .signupBtn:hover, .create .cancelBtn:hover {
	background-color: #c2e2fc;
}