@charset "UTF-8";

.admin-boardgame-section{
	position :absolute;
    left : 250px;
    top : 40px;
    width : 83.6%;
    padding: 50px;
}
.admin-boardgame-div{
	margin: 0 auto;
	width: 900px;
	/* background-color: pink; */
}
.admin-boardgame-title{
	font-weight: bold;
	font-size: 34px;
	text-align: left;
}
.admin-boardgame-search{
	margin-top: 20px;
	margin-right : 200px;
	width : 100%;
}
.admin-boardgame-search-select{
	width: 100px;
	height: 30px; 
	line-height: 40px; 
	margin: 0px;
	padding: 0px;
}
.admin-boardgame-search-input{
	width: 240px;
	height: 30px; 
	padding: 5px;
	line-height: 30px;
}
.admin-boardgame-search-button{
	width: 60px;
	height: 30px;
	background: black;
	font-size: 14px;
	color: white;
	border: none;
}
.admin-boardgame-table-div{
	margin : 0 auto;
}
.admin-boardgame-table{
	table-layout : fixed;
	width: 900px; 
	margin-top: 20px;
}
.admin-boardgame-page-nav {
	margin-left: 330px;
	margin-right: 330px;
}